article > content
{
    font-size: 16px;
}

article
{
    margin-bottom: 32px;
    width: 512px;
}

form >input, form > button
{
    display: block;
}

#global_header > header
{
    font-size: 64px;
}

article > header
{
    font-size: 32px;
}

nav > ul > li
{
    display: inline-block;
    margin-right: 10px;
}

.current_page
{
    font-weight: bold;
}

.signup_error
{
    border-style: dashed;
    border-width: 1px;
    padding: 16px;
    padding-top: 1px;
    margin-bottom: 0;
}

.signup_error > header
{
    font-size: 16px;
    font-weight: bold;
}

.signup_error > content
{
    padding: 8px;
}