article > content
{
    font-size: 16px
}

article
{
    margin-bottom: 32px;
    width: 512px;
}

form >input, form > button
{
    display: block;
}

#global_header > header
{
    font-size: 64px;
}

article > header
{
    font-size: 32px;
}

nav > ul > li
{
    display: inline-block;
    margin-right: 10px;
}