body
{
    background: #CCCCCC;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

article
{
    margin-bottom: 32px;
    width: 512px;
}

article > content
{
    display: block;
    font-size: 16px;
    background: #FFFFFF;
    padding: 16px;
    padding-top: 8px;
    padding-bottom: 32px;
}

article > header
{
    font-size: 32px;
    font-family: 'Averia Sans Libre', cursive;
    font-weight: 700;
    background: #DF8888;
    padding: 8px;
}

form >input, form > button
{
    display: block;
}

.radio_input
{
    display: inline;
}

#global_header
{
    background: #DF8888;
}

#global_header > content
{
    background: #DF8888;
}

#global_header > header
{
    font-size: 64px;
    font-family: 'Averia Sans Libre', cursive;
    font-weight: 700;
}

nav > ul > li
{
    display: inline-block;
    margin-right: 10px;
}

.current_page
{
    font-weight: bold;
}

.signup_error
{
    border-style: dashed;
    border-width: 1px;
    padding: 16px;
    padding-top: 1px;
    margin-bottom: 0;
}

.signup_error > header
{
    font-size: 16px;
    font-weight: bold;
}

.selected_sector
{
    font-weight: bold;
}

#city_description
{
    font-style: italic;
}

.hidden
{
    display: none;
}

#CurrentCityInfo > li > div
{
    display: inline;
}

#CitiesBlock, #SectorsBlock, #CityExpansionBlock, #CreateNewCityBlock
{
    width: 252px;
    margin-right: 8px;
    display: inline;
    float: left;
}